:root {
    --color-primary-0: #fff;
    --color-primary-1: #000;
    --color-secondary-0: #7E7E81;
    --color-secondary-1: #98989A;

    --bg-neutral-0: rgb(20, 20, 20);
    --bg-focus-0: rgb(25, 25, 25);
    --bg-focus-1: #FFD11A;
    --bg-focus-2: rgb(51, 51, 51);

    --border-primary-color-0: rgb(26, 26, 26);
}