.form__create-new-post {

    form {
        display: flex;
        flex-direction: column;
        .form__descriptive-text {
            display: block !important;
        }

        .form__send-button {
            background-color: var(--bg-focus-1);
            color: var(--color-primary-1);
            padding: 14px 20px;
            border-radius: 15px;
            border: none;
            width: 30%;
        }
        
    }
}