.nav-bar {
    width: 100%;
    padding: 24px 0;
    border: 1px var(--border-primary-color-1);
    border-style: solid none;
    background-color: var(--bg-focus-0);
    .nav-bar__items {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        li{
            list-style: none;
            margin: 0 40px;
            cursor: pointer;
        }
        .nav-bar__account {
            background-color: var(--bg-focus-1);
            color: var(--color-primary-1);
            padding: 14px 20px;
            margin: 0 15px;
            border-radius: 15px;
        }
    }
}