.post-card__container {
  max-width: 680px;
  margin: 24px 0;
  a {
    color: inherit;
    text-decoration: none;
  }
  .post-card__author-details {
    display: flex;
    align-items: center;
    .post-card__avatar {
      width: 20px;
      border-radius: 100%;
      height: 20px;
      margin-right: 8px;
    }
    .post-card__author {
      font-size: 13px;
    }
  }
  .post-card__title {
    font-size: 24px;
    font-weight: 700;
    margin: 8px 0 8px 0;
  }
  .post-card__description {
    font-size: 16px;
    color: var(--color-secondary-0);
    margin: 0 0 8px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .post-card__additional-properties {
    font-size: 13px;
    display: flex;
    color: var(--color-secondary-0);
    align-items: center;
    span {
      height: 21px;
      display: block;
      padding: 0 8px;
    }
    p {
      margin: 0;
    }
    .post-card__article-type {
        background-color: var(--bg-focus-2);
        padding: 6px 8px;
        border-radius: 15px;
        color: var(--color-primary-0);
    }
  }
}
